ion-content {
    --background: #fff url('../../assets/images/background.png') no-repeat center center / cover;
  }
  
  ion-grid.grid-bottom {
    position: relative;
    top: 30%;
  }

  .text {
    font-size: 16px;
    color: #000000;
    margin-bottom: 100px;
    text-align: center;
  }
  
  .grid-bottom ion-buttons {
    margin-left: 17%;
  }
  
  .grid-bottom {
    display: relative;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin: 0;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .ripple-parent {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .rectangle {
    background-color: rgba(128, 128, 128, 0.5);
  }
  
  .rectangle img {
    margin-top: 10px;
    max-width: 50px;
    max-height: 50px; /* Ajustez la hauteur de l'image selon vos besoins */
  }
  
  .rectangle p {
    margin-top: 10px;
  }